.content-header
  .container
    %h1 Research Proposal
    %p= link_to 'Back', research_topics_path
%br
.container
  .research-topic-container
    %h4
      = link_to member_path(@research_topic.user.forum_name) do
        = image_tag @research_topic.user.photo_url, width: 50
        = @research_topic.user.forum_name
      asked:
    %hr
    .inset
      %p.lead.f400= @research_topic.name
      %p.lead= @research_topic.description
%br
.container
  - if current_user
    - unless @research_topic.voted_by_user?(current_user)
      = form_for([@research_topic, @vote]) do |f|
        - if @vote.errors.any?
          #error_explanation
            %h2
              = pluralize(@vote.errors.count, "error")
              prohibited this vote from being saved:
            %ul
              - @vote.errors.full_messages.each do |message|
                %li= message
        .row
          .col-xs-4.col-sm-2.col-sm-offset-2
            .pull-right
              .form-group.vote-btn-container.vote-btn-container-endorse
                = radio_button_tag "endorse", 1, @research_topic.endorsed_by_user?(current_user)
                %label.endorse-label{ for: "endorse_1" } Agree
              .form-group.vote-btn-container.vote-btn-container-oppose
                = radio_button_tag "endorse", 0, @research_topic.opposed_by_user?(current_user)
                %label.endorse-label{ for: "endorse_0" } Disagree
          .col-xs-8.col-sm-6
            .form-group
              = text_area_tag :comment, nil, rows: 4, placeholder: 'Add an optional comment...', class: 'form-control'
            .form-group
              = f.hidden_field :research_topic_id, value: @research_topic.id
              = f.submit 'Cast Vote', class: 'btn btn-primary'
    - else
      -# Research topic approval
      - if @research_topic.votes.count > 0
        .row
          .col-sm-5.col-sm-push-7
            %h3
              Endorsement:
              %span.f300
                = "#{@research_topic.total_rating.round}%"
                = surround "(", ")" do
                  = pluralize(@research_topic.votes.current.count, 'vote')
            .progress-meter
              %span{ data: { object: 'research-topic-meter', progress: "#{@research_topic.total_rating}" } }
            .vote-status-container
              You
              - if @research_topic.endorsed_by_user?(current_user)
                %span.vote-status-endorsed agreed
              - else
                %span.vote-status-opposed disagreed
              that this is a research priority.
          .col-sm-7.col-sm-pull-5
            %br
            - @research_topic.comments.each do |comment|
              = render comment
