.content-header
  .container
    %h1 Research Proposal
    %p= link_to 'Back', research_topics_path
%br
.container
  .research-topic-container
    %h4
      = link_to member_path(@research_topic.user.forum_name) do
        = image_tag @research_topic.user.photo_url, width: 50
        = @research_topic.user.forum_name
      asked:
    %hr
    .inset
      %p.lead.f400= @research_topic.name
      %p.lead= @research_topic.description
%br
.container
  - if current_user
    - unless @research_topic.voted_by_user?(current_user)
      = form_for([@research_topic, @vote]) do |f|
        - if @vote.errors.any?
          #error_explanation
            %h2
              = pluralize(@vote.errors.count, "error")
              prohibited this vote from being saved:
            %ul
              - @vote.errors.full_messages.each do |message|
                %li= message
        .form-group
          = radio_button_tag "endorse", 1, @research_topic.endorsed_by_user?(current_user)
          %label.endorse-label{ for: "endorse_#{@research_topic.id}_1" } Agree
        .form-group
          = radio_button_tag "endorse", 0, @research_topic.opposed_by_user?(current_user)
          %label.endorse-label{ for: "endorse_#{@research_topic.id}_0" } Disagree
        .form-group
          = label_tag :comment, nil, class: 'control-label'
          = text_area_tag :comment, nil, class: 'form-control'
        .form-group
          = f.hidden_field :research_topic_id, value: @research_topic.id
          = f.submit
    - else
      -# Research topic approval
      - if @research_topic.votes.count > 0
        .row
          .col-sm-7
            %br
            - @research_topic.comments.each do |comment|
              = render comment
          .col-sm-5
            %h3
              Endorsement:
              %span.f300
                = "#{@research_topic.total_rating.round}%"
                = surround "(", ")" do
                  = pluralize(@research_topic.votes.current.count, 'vote')
            .progress-meter
              %span{ data: { object: 'research-topic-meter', progress: "#{@research_topic.total_rating}" } }
            .vote-status-container
              You
              - if @research_topic.endorsed_by_user?(current_user)
                %span.vote-status-endorsed agreed
              - else
                %span.vote-status-opposed disagreed
              that this is a research priority.
