= form_for(@forum) do |f|
  - if @forum.errors.any?
    #error_explanation
      %h2
        = pluralize(@forum.errors.count, "error")
        prohibited this forum from being saved:
      %ul
        - @forum.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, nil, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :slug, nil, class: 'control-label'
    = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :description, nil, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :position, nil, class: 'control-label'
    = f.text_field :position, class: 'form-control'
  .form-group
    = f.submit "#{@forum.new_record? ? 'Create Forum' : 'Save Changes'}", class: 'btn btn-primary'
