- content_for :title, @forum.name + ' Forum'
- content_for :description, @forum.description

.content-header
  .container
    %h1= @forum.name
    %p
      = link_to 'Back', forums_path
      - if current_user and current_user.admin?
        %span.white
          |
        = link_to 'Edit', edit_forum_path(@forum)


.container
  .content-container
    = render 'forums/display', forum: @forum, topic_limit: nil
    - if current_user
      = link_to 'New Topic', new_forum_topic_path(@forum), class: 'btn btn-primary'
