- url = @answer_option.new_record? ? builder_answer_template_answer_options_path(@answer_template) : builder_answer_option_path(@answer_option)
- method = @answer_option.new_record? ? :post : :patch
= form_for @answer_option, url: url, method: method, html: { class: 'form-horizontal' } do |f|
  - if @answer_option.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer_option.errors.count, "error")
        prohibited this answer_option from being saved:
      %ul
        - @answer_option.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :text, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :text, class: 'form-control'

  .form-group
    = f.label :hotkey, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :hotkey, class: 'form-control'

  .form-group
    = f.label :value, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :value, class: 'form-control'

  .form-group
    = f.label :display_class, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :display_class, class: 'form-control', value: 'label-default label-sm'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit "#{@answer_option.new_record? ? 'Create' : 'Save'}", class: 'btn btn-primary'
