= form_for([@forum, @topic]) do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2
        = pluralize(@topic.errors.count, "error")
        prohibited this topic from being saved:
      %ul
        - @topic.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, nil, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :slug, nil, class: 'control-label'
    = f.text_field :slug, class: 'form-control'
  - if current_user and current_user.system_admin?
    .form-group
      = f.label :status, nil, class: 'control-label'
      = f.select :status, [['---', nil]] + Topic::STATUS, {}, class: 'form-control'
    .form-group
      = f.label :forum_id, nil, class: 'control-label'
      = f.select :forum_id, Forum.current.pluck(:name, :id), {}, class: 'form-control'
    .form-group
      = f.check_box :pinned
      = f.label :pinned
    .form-group
      = f.check_box :locked
      = f.label :locked
  .form-group
    = f.submit "#{@topic.new_record? ? 'Create Topic' : 'Save Changes'}", class: 'btn btn-primary'
