.content-header
  .container
    %h1 Admin Dashboard

.container
  .row
    .col-sm-3
      = link_to admin_users_path do
        .box Users
    .col-sm-3
      = link_to admin_research_topics_path do
        .box Research Topics
    .col-sm-3
      = link_to admin_team_members_path do
        .box Team Members
    .col-sm-3
      = link_to admin_partners_path do
        .box Partners
    .col-sm-3
      = link_to admin_consent_forms_path do
        .box Consent Forms
    .col-sm-3
      = link_to admin_highlights_path do
        .box Dashboard Highlights
    .col-sm-3
      = link_to admin_content_groups_path do
        .box Content Groups
