.content-header
  .container
    %h1= @user.name
    %p= link_to 'Back to user list', admin_users_path

.container.content-container
  %h2.f300
    View this member's full social profile:
    %span.f400= link_to @user.forum_name, member_path(@user.forum_name), class: 'no-underline darkerer-blue'
  .row
    .col-sm-6
      %dl.dl-horizontal
        %dt Joined
        %dd
          = @user.created_at.strftime("%m/%d/%Y") if @user.created_at.present?

        %dt Forum Name
        %dd= @user.forum_name

        %dt Gender
        %dd= @user.gender

        %dt Age
        %dd= @user.birthdate.strftime("%m/%d/%Y") if @user.birthdate.present?

        %hr

        %dt Number of Sign Ins
        %dd
          = @user.sign_in_count if @user.sign_in_count.present?

        %dt Most Recent Sign In
        %dd
          = @user.current_sign_in_at.strftime("%m/%d/%Y") if @user.current_sign_in_at.present?

        %hr

        %dt Consent
        %dd
          = simple_check @user.accepted_consent_at.present?

        %dt Terms of Access
        %dd
          = @user.accepted_terms_of_access_at.strftime("%m/%d/%Y") if @user.accepted_terms_of_access_at.present?
          = simple_check @user.moderator?

        %dt Admin
        %dd
          = simple_check @user.admin?

        %dt Moderator
        %dd
          = simple_check @user.moderator?
