= form_for [@forum, @topic, @post], html: { class: 'form-horizontal' } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  - if current_user.moderator?
    .form-group
      = f.label :status, nil, class: 'col-md-2 control-label'
      .col-md-10
        = f.select :status, [['---', nil]] + Post::STATUS, {}, class: 'form-control'

    .form-group
      .col-md-10.col-md-offset-2
        .checkbox
          %label
            = f.check_box :links_enabled
            Allow Links in Post
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
