%nav.navbar.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to current_user ? dashboard_path : welcome_path, class: 'navbar-brand' do
        = image_tag 'aftertheicu_logo2.png', class: 'img-responsive'
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = image_tag current_user.photo_url, style: 'height: 25px; width: 25px; border-radius: 3px'
            = current_user.name
            %span.caret
          %ul.dropdown-menu
            - if current_user.survey_builder?
              %li
                = link_to 'Survey Builder', builder_surveys_path
            %li
              = link_to 'Settings', settings_path
            - if current_user.admin?
              %li
                = link_to 'Admin', admin_path
            %li
              = link_to 'Sign Out', destroy_user_session_path
      - else
        %li
          = link_to 'Sign In', new_session_path(User)
        %li
          = link_to 'Join', new_registration_path(User)
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "#{current_user ? 'Dashboard' : 'Home'}", current_user ? dashboard_path : welcome_path
        %li
          = link_to "Forums", forums_path
        %li
          = link_to "Research", research_topics_path
        %li
          = link_to "Learn", learn_path
