.content-header
  .container
    %h1= @member.forum_name

.container
  .content-container
    %p= "#{@member.forum_name} has #{@member.points} points"
    %br
    %ul
      %li= pluralize(@member.posts.count, 'post')
      %li= pluralize(@member.topics.count, 'topic')
